/* index.css */

html {
  font-size: 16px; /* Base font size */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-header-image {
  width: 100%;
  height: 50vh; /* Adjust this value to control how much of the image is shown */
  overflow: hidden;
}

.form-header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; /* Ensure the image covers the entire container */
  display: block;
}

.form-container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  background-color: #fafafa;
  padding: 8rem 3rem;
  margin: 1rem 0;
  margin-top: -5rem;
}
.form-container h3 {
  text-align: center;
  margin-top: -5rem;

  /* Additional styling as needed */
}

.form-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-row input {
  flex-basis: 48%; /* Adjust as needed for spacing */
}
input,
textarea {
  background-color: #f4f4f4; /* Same as the app background */
  color: #333; /* Dark color for text */
  border: 1px solid #ddd; /* Light border */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  /* Other input and textarea styles */
}
input:focus,
textarea:focus,
input[type="checkbox"]:focus {
  outline: 2px solid grey; /* Change 'grey' to any color you prefer */
}
.textarea-container textarea {
  width: 96%; /* Adjust the width as needed */
  height: 5rem; /* Increase the height */
  padding: 10px; /* Optional: for better text spacing */
  border: 1px solid #ccc; /* Optional: for border */
  border-radius: 4px; /* Optional: for rounded corners */
  resize: vertical; /* Allows vertical resizing, remove if not needed */
  /* Add more styles as needed */
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkbox-container {
  margin-bottom: 1rem;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}
.submit-btn {
  background-color: black;
  color: white;
  border: none; /* Remove default border */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 0.75rem 2.8rem; /* Larger size, adjust as needed */
  font-size: 1rem; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submit-btn:hover {
  background-color: #333; /* Slightly lighter black on hover */
}

nav {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
nav img {
  width: 6rem;
  height: auto;
}

hero-container {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blur-box {
  position: absolute;
  right: 1rem;
  bottom: -15rem;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blurring effect */
  padding: 1rem 20rem 1rem 1rem;
}

.overlay-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.small-button {
  background-color: black;
  color: white;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}
.home-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.left-section,
.right-section {
  width: 50%;
}

.gallery-title {
  text-align: center;
  text-decoration: underline;
}

.gallery-images {
  display: flex;
  justify-content: center;
}

.gallery-images img {
  width: 40%;
  margin: 0 1.2rem;
  height: auto;
}

.image-with-button {
  position: relative;
}

.image-with-button img {
  width: 100%;
  height: auto;
}
.complete-here-button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
}

.image-with-button button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-width-images {
  display: flex;
  justify-content: center;
}

.full-width-images img {
  width: 50%;
  height: auto;
}
.info-container {
  display: flex;
  width: 100%;
}

.left-empty-space {
  flex-basis: 50%;
  /* Optionally, you can style this space (e.g., background color) */
}

.right-content {
  flex-basis: 50%;
  /* Add additional styling as needed */
}

.info-section {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
}

.info-column p {
  color: black; /* Simple black letters */
  font-size: 0.75rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem; /* Space between items in a column */
  /* Add more styling as needed */
}
.details-container {
  background-color: #fafafa; /* Slightly lighter than #f4f4f4 */
  padding: 10rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  text-align: center;
}

.data-box,
.message-box {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.data-item {
  display: inline-block;
  margin-right: 2rem; /* Space between items */
}
.details-page-container-btn {
  position: relative;
  /* Add other styles as needed, e.g., padding, max-width, etc. */
}
.go-back-btn {
  position: absolute;
  bottom: -2rem; /* Adjust as needed */
  right: 1rem; /* Adjust as needed */
  background-color: black;
  color: white;
  border: none; /* Remove default border */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 0.75rem 2.8rem; /* Larger size, adjust as needed */
  font-size: 1rem; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
}

@media (max-width: 960px) {
  hero-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .blur-box {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blurring effect */
    padding: 1rem 1rem 1rem 1rem;
  }
  .form-header-image {
    height: 50vh; /* Adjust the height for mobile devices */
  }

  .form-header-image img {
    object-position: center; /* Adjust the focus point if needed */
  }
}

@media (max-width: 375px) {
  hero-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .blur-box {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blurring effect */
    padding: 1rem 1rem 1rem 1rem;
  }
  .form-header-image {
    height: 50vh; /* Adjust the height for mobile devices */
  }

  .form-header-image img {
    object-position: center; /* Adjust the focus point if needed */
  }
}
